section {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(250, 250, 250);
}

section > .container {
  padding: 30px 20px;

  width: 975px;
}
