.categories {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgb(142, 142, 142);
}
.single-category {
  height: 59px;

  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";

  letter-spacing: 1px;

  color: rgb(142, 142, 142);

  margin-right: 60px;

  display: flex;
  align-items: center;
}

.choosen {
  border-top: 1px solid black;
  margin-top: -0.5px;

  font-weight: 600;
  font-family: "Poppins";

  color: black;
}

.single-category-end {
  height: 59px;

  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";

  letter-spacing: 1px;

  color: rgb(142, 142, 142);

  display: flex;
  align-items: center;
}

.single-category-end > span {
  margin-left: 4px;
}

.single-category > span {
  margin-left: 4px;
}

.posts-grid {
  display: grid;
  grid-template-columns: 293px 293px 293px;
  row-gap: 28px;
  column-gap: 35px;
  justify-content: space-between;
}

.post-pic {
  width: 100%;
  height: 293px;

  object-fit: cover;
}

.post-single {
  position: relative;
}

.post-single > i {
  color: white;

  font-size: 18px;

  position: absolute;

  top: 5px;
  right: 7px;
}
